* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --deep-brown: #8e3200;
  --brown: #a64b2a;
  --light-brown: #d7a86e;
  --skin: #fdead3;
  --gray: #7d6f71;
  --dark-brown: #411d29;
}
.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7d6f71;
  height: 80px;
}
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999999;
}
.nav__botton {
  background-color: #7d6f71;
  padding-left: 10px;
}
.nav__botton__search {
  font-size: 18px;
  border-radius: 30px;
  padding: 4px 10px;
  outline: none;
  background-color: var(--gray);
  border: 2px solid var(--skin);
  color: var(--skin);
  margin-left: 20px;
}
.color {
  background-color: #7d6f71;
}

.nav__title {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  color: var(--skin);
}
.nav__contact {
  padding-right: 20px;
}
.nav__contact__link,
.nav__botton__link {
  padding: 5px 10px;
  font-size: 20px;
  color: #fdead3;
  border-style: solid;
  border-width: 3px;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.nav__contact__link:first-child {
  margin-right: 10px;
}

.nav__contact__link:hover,
.nav__botton__link:hover {
  background-color: var(--skin);
  color: var(--gray);
}
.main {
  background-color: #fdead3;
  padding-top: 80px;
}
.main_introduce {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 100px;
}

.img_a,
.img_b {
  width: 350px;
  object-fit: cover;
  border-radius: 20px;
}

.main_img {
  display: flex;
  justify-content: center;
  position: relative;
  width: 600px;
}

.img_a {
  position: absolute;
  top: 100px;
  left: -100px;
}

.main_content {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-left: 50px;
  width: 50%;
}

.main_content h2 {
  font-weight: 1000;
  color: #a64b2a;
  font-size: 35px;
}
.main_content p {
  font-size: 20px;
  padding-top: 10px;
}
img {
  height: 400px;
}
.main_slidephoto,
.slide {
  width: 100%;
  padding: 40px;
}
.slide {
  border-style: solid;
  border-width: 2px;
  object-fit: cover;
  border-radius: 20px;
}
.main_information {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px 30px;
}
.infor {
  position: relative;
}
.main_infor_link {
  position: absolute;
  width: 100%;
  bottom: -30px;
  left: 0;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: var(--brown);
  border-radius: 50px;
  transition: all 0.5s ease;
}

.main_infor_link:hover {
  background-color: var(--brown);
  color: #fdead3;
}

.i {
  border-radius: 20px;
  width: 350px;
}
.group {
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
}
.b {
  display: inline;
}
.a {
  display: flex;
  position: relative;
  padding-right: 100px;
}
.a img {
  height: 200px;
  width: 20%;
  object-fit: cover;
  border-radius: 20px;
}

.a div {
  flex: 1;
  padding: 0 40px;
}

.a div p {
  text-align: justify;
}

.a .link {
  text-decoration: none;
  color: #8e3200;
  font-size: 20px;
  margin-top: 10px;
  display: inline-block;
  position: relative;
}

.a .link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #8e3200;
  transition: all 0.3s ease;
}
.a .link:hover::before {
  width: 100%;
}
#btn {
  position: absolute;
  right: 0;
  bottom: 50%;
  border: 2px solid #8e3200;
  border-radius: 20px;
  background: #fdead3;
  color: #d7a86e;
  font-weight: 500;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}
